<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35211167090-mr4goj6e8i7vvdth413l0tqc89thtn1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35211167090-mr4goj6e8i7vvdth413l0tqc89thtn1v</string>
	<key>API_KEY</key>
	<string>AIzaSyCYihfccBViVp2u4-jmTBI4-8hbO0Q-4Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>35211167090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DarkoGolubovicDev.gitapi.Moto-Service-Book123</string>
	<key>PROJECT_ID</key>
	<string>motobook-65898</string>
	<key>STORAGE_BUCKET</key>
	<string>motobook-65898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35211167090:ios:cc454745ab6d5a0c2289eb</string>
</dict>
</plist>